<% @links.each do |link| %>
    <h3>
        <%= link_to link.title, link %><br>
        <small class="author">Submitted <%= time_ago_in_words(link.created_at) %>
        by <%= link.user_id %></small></h2>
        <hr>
        
        <div class="btn-group">
            
            <%= link_to like_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
            <span class="glyphicon glyphicon-chevron-up"></span>
            Upvote
            <%= link.get_upvotes.size %>
            <% end %>
            <%= link_to dislikes_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
            <span class="glyphicon glyphicon-chevron-down"></span>
            Downvote
            <%= link.get_downvotes.size %>
            <% end %>
        </div>
        
<% end %>

