<div class='page-header'>
  <h2><a href="<%= @link.url %>"><%= @link.title %></a></h2><br>
  <small>Submitted by <%= @link.user_id %></small>
</div>
<div class="btn-group">
  <%= link_to t('.back', :default => t("helpers.links.back")),
                links_path, :class => 'btn btn-default'  %>
   <% if @link.user == current_user %>                  
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_link_path(@link), :class => 'btn btn-default' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    link_path(@link),
                    :method => 'delete',
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-danger' %>
  <% end %>

</div>